<!-- nav.component.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://odakgis.com.tr/" target="_blank"> <!-- target="_blank" ile yeni sekme -->
      <img src="assets/odakgis.png" alt="Odak GIS" class="navbar-logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isUser()">
          <button mat-button routerLink="/tasinmaz-table">Mevcut Taşınmazlar Listesi</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <button mat-button routerLink="/tasinmaz-table">Mevcut Taşınmazlar Listesi</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <button mat-button routerLink="/kullanici-listesi">Kullanıcı Listesi</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <button mat-button routerLink="/log-islemleri">Log İşlemleri</button>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <button mat-button (click)="logOut()">Çıkış</button>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <button mat-button routerLink="/login">Giriş</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
